// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body{
  min-width: 100%;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h4 {
    margin-left: 2%;
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }
}

.titleCart{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1%;
  font-weight: bold;
}